:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color: #fff;

  --main-bg-color: rgb(11, 11, 11);
  --sec-bg-color: rgb(50, 50, 55);
  --third-bg-color: rgb(60, 60, 65);

  --main-active-color: rgb(128, 33, 208);
  --sec-active-color: rgb(51, 28, 82);

}

body{
  height: 100%;
  background-color: var(--main-bg-color);
}

#app{
  width: 60%;
  min-height: 100%;
  margin: auto;
  background-color: var(--sec-bg-color);
}