:root{
    --active: rgb(20, 45, 66);

    --main: #7286D3;
    --second: #8EA7E9;
    
    --text: #000;
    
    --third: #0a101d;
}

.light-theme{
    --active: rgb(20, 45, 66);

    --main: #7286D3;
    --second: #8EA7E9;
    
    --text: #000;
}

.dark-theme{
    --active: #28e;

    --main: #151922;
    
    --text: #fff;
}