.contactContainer{
    display: grid;
    justify-items: center;
    width: 100%;
    margin-bottom: 40px;
}
.sectionTitle {
    color: var(--text);
    /* margin-top: 40px; */
}

.formArea{
    padding-bottom: 6em;
}
.inputGroup{
    position: relative;
    height: 50px;
    margin-bottom: 20px;
    overflow: hidden;
}

.textAreaGroup{
    position: relative;
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
    padding: 2px;
    overflow: hidden;
}

#emailMessage{
    background: none;
    color: var(--text);
    width: 100%;
    height: 100%;
    font-size: 1.2em;
    border: none;
    resize: none;
    position: relative;
    z-index: 2;
    background: var(--third);
    padding: 5px;
    outline: none;
}


.bg-border{
    position: absolute;
    top: 0;
    left: 0;
    
    height: 100%;
    width: 100%;
    
    background: linear-gradient(240deg, transparent 20%, #fff);
    z-index: 1;
    transition: transform 0.3s ease;
    border-bottom: solid 2px #fff;
    /* transform: translateX(-25%); */
}
#emailMessage:valid + .bg-border{
    background: linear-gradient(240deg, transparent 20%, var(--active));
    /* transform: translateX(0%); */
    border-bottom: solid 2px var(--active);
}

.emailInput{
    height: 100%;
    width: 100%;
    padding-left: 5px;
    padding-top: 15px;

    color: var(--text);
    font-size: 1.2em;
    
    border: none;
    outline: none;
    background: none;
}

.inputLabel{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    
    border-bottom:  2px solid #fff;
    pointer-events: none;
}

.lavelContent{
    position: absolute;
    bottom: 4px;
    left: 0;
    font-size: 1.2em;
    color: #fff;
    transition: 
        transform 0.6s ease, 
        font-size 0.6s ease,  
        color 0.6s ease ;
}

.inputLabel::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    
    height: 100%;
    width: 100%;

    border-bottom:  2px solid var(--active);
    transform: translateX(-100%);
    transition: transform 0.6s ease;
}

.emailInput:focus + .inputLabel .lavelContent,
.emailInput:valid + .inputLabel .lavelContent{
    color: var(--active);
    transform: translateY(-150%);
    font-size: smaller;
}
.emailInput:focus + .inputLabel::after,
.emailInput:valid + .inputLabel::after{
    transform: translateX(0%);
}

.formBtnArea{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.formBtnArea .emailBtn{
    padding: 8px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}

.formArea .emailSubmit{
    background: var(--active);
    color: #fff;
    border: none;
    transition: all 0.6s ease;
}
.formArea .emailSubmit:hover{
    background: var(--active);
}
.formArea .emailSubmit:active{
    font-size: 0.8em;
}

.formArea .emailReset{
    background: #ccc;
    border: none;
}

.hiddenCheck{
    display: none;
}
.hiddenCheck + label{
    color: var(--text);
    transition: transform 0.6s ease, color 0.6s ease;
}
.hiddenCheck:checked + label{
    transform: rotate(-20deg);
    color: var(--active) !important;
}

.email-ready{
    transition: transform 0.6s ease, color 0.6s ease;

    transform: rotate(-20deg);
    color: var(--active);
}


.iconArea{
    display: flex;
    justify-content: center;
    width: 80%;
    margin-bottom: 10px;
}

.iconArea .emialIcon{
    font-size: 8em;
}




@media screen and (max-width: 767px){ /* Version for Movil */
    .formArea{
        width: 80%;
    }
    
}

@media screen and (min-width: 768px){ /* Version for Desktop */
    .formArea{
        width: 60%;
    }
}
