footer{
    padding: 40px;
    background: var(--third);
    text-align: center;
}

footer p{
    color: #fff;
} 

.iconsArea{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
}
.iconContainer{
    width: 40px;
    height: 40px;
    padding: 10px;
    border: solid var(--active);
    border-radius: 50%;
    transition: border 0.3s ease;
}
.icon{
    fill: #fff;
    transition: fill 0.3s ease, transform 0.3s ease;

}
.iconContainer:hover{
    border: solid transparent;
}
.iconContainer:hover .icon{
    fill: #fff;
    transform:  scale(1.5);
}