
.my-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.section-title, .section-desc{
    text-align: center;
    color: var(--text);
    margin-bottom: 40px;
}
.section-desc{
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: justify;
    width: 80%;
}

@media screen and (min-width:767px){ 
    .section-desc{
        width: 60%;
    }
    
}


/* desctop 
@media screen and (min-width: 768px){ 
    .desc{
        width: 100%;
    }
} 
*/