.projectSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 40px;
    padding: 20px;
    background: rgb(20, 45, 66);
    height: 100hv;
}

@media screen and (max-width: 737px){
    .projectSection{
        justify-content: space-evenly;
    }
}
@media screen and (min-width: 1024px){
    .projectSection{
        padding: 40px 100px;
    }
}