
.projectsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 20px;
}

@media screen and (max-width: 737px){
    .projectsContainer{
        justify-content: space-evenly;
    }
}
@media screen and (min-width: 768px){
    /* .projectsContainer{
        padding: 40px 100px;
    } */
}