@import url(./mainMenu.css);
@import url(./mainInfo.css);
@import url(./about.css);
@import url(./skills.css);
@import url(./portfolio.css);
@import url(./exprerience.css);

:root {
  font-size: 16px;
  line-height: 1.5;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: #fff;

  --main-bg-color: rgb(20, 20, 20);
  --sec-bg-color: rgb(45, 50, 55);
  --third-bg-color: rgb(60, 60, 65);
  --four-bg-color: rgb(90, 90, 95);

  --main-active-color: rgb(128, 33, 208);
  --sec-active-color: rgb(51, 28, 82);

  --text-color-passive: rgb(145,145,145);
  --text-color-active: rgb(255,255,255);

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100%;
  background-color: var(--main-bg-color);
}

#app{
  width: 50%;
  min-height: 100%;
  margin: auto;
  background-color: var(--sec-bg-color);
  border: solid 2px var(--sec-active-color);
}

.content-section{
  padding: 10%;
}

.section-title{
  position: relative;
  font-family: 'Times New Roman';
  font-size: 2.5em;
}
.section-title-figure{
  position: absolute;
  top: 50%;
  left: 0%;
  display: inline-block;
  width: 2em;
  height: 0.1em;
  background: var(--main-active-color);
  transform: translateX(-110%);
}