.skills-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    width: fit-content;
    margin-top: 5%;
    max-width: 100%;
}
.skill{
    display: grid;
    grid-template-rows: 1fr 40px;
    justify-content: center;
    align-items: center;
    
    padding: 20px;
    width: 200px;
    
    text-align: center;

    background-color: var(--third-bg-color);
    box-shadow: #0005 10px 10px 50px;
}
.skill-icon{
    display: inline-block;
}
.skill-icon > img{
    width: 5em;
}
.skill-title{
    margin-top: 15px;
    font-family: 'Times New Roman';
    text-transform: capitalize;
}